In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

#1

In [2]:
# Given that
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']

# To create a dataframe using these list we use
pd.DataFrame(lst,columns=col, index=[1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

#2

what would the output of the code give?

In [3]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

#3

What would be the output for?

In [ ]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

## Importing the dataset

In [ ]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

#4

What is the total sum of Wine produced in 2015 and 2018 respectively?

In [ ]:
df[df['Item'] == 'Fruits - Excluding Wine'][['Y2018','Y2015']].sum()

#5

Which of these Areas had the 7th lowest sum in 2017?

In [ ]:
df[['Y2017','Area']].groupby('Area').sum().sort_values(by='Y2017').head(7)

#ans = Guinea-Bissau

#6

#7

What year has the highest sum of Stock Variation?

In [ ]:
df.groupby('Element').sum().loc['Stock Variation']

# ans is Y2017 with 54,316.91

#8

#10

How would you assign element 8 from the list to a variable x?

In [ ]:
y = [(2, 4), (7, 8), (1, 5, 9)]
# to assign element '8' to x, we use
x = y[1][1]
x

#11

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [ ]:
print(df['Y2014'].isnull().sum()) # Prints the total number of null values

print((df['Y2014'].isnull().sum()/len(df['Y2014'])*100)) #prints the percentage

#12

How would you select  the elements in bold and italics from the array?

In [ ]:
# Given
array  = ([[94, 89, 63],[93, 92, 48],[92, 94, 56]])
array[ : 2,1: ]

#13

What is the total number of the sum of Processing in 2017?

In [ ]:
# Total number of the sum of Processing in 2017
df.groupby('Element').sum().loc['Processing']['Y2017']

#14

What is the total number of unique countries in the dataset?

In [ ]:
# Number of Unique countries in the dataset
df['Area'].nunique()

#17

Which of these Areas had the highest sum in 2017?

In [ ]:
df[['Y2017','Area']].groupby('Area').sum().sort_values(by='Y2017').tail(1)

#18

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [ ]:
print(df['Y2017'].mean())
print(df['Y2017'].std())

#19

What is the total Protein supply quantity in Madagascar in 2015?

In [ ]:
df[df['Area']== 'Madagascar'].groupby('Element').sum()['Y2015']

# ans 173.05

#20

Which year had the least correlation with ‘Element Code’?

In [ ]:
df.corr()['Element Code']
# ans= Area Code